<a href="https://colab.research.google.com/github/eugeniobr25/data_analysis_Python_imersao_alura/blob/main/Imers%C3%A3o_dados_com_Python_Alura_Agosto_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 01

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [ ]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
df.shape

(133349, 11)

In [ ]:
linhas, colunas = df.shape[0], df.shape[1]
print("Quantidade de linhas: ", linhas)
print("Quantidade de colunas:", colunas)

Quantidade de linhas:  133349
Quantidade de colunas: 11

In [ ]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
df.columns

Index(['adimissao', 'experiencia', 'tipo_emprego', 'cargo', 'salario',
       'moeda_salario', 'salario_em_usd', 'residencia_empregado',
       'taxa_remoto', 'localizacao_empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
df['experiencia'].value_counts()

experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
df['tipo_emprego'].value_counts()

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
df['taxa_remoto'].value_counts()

taxa_remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
df.columns = ['adimissao', 'experiencia', 'contrato', 'cargo', 'salario', 'moeda', 'usd', 'residencia', 'remoto', 'empresa', 'tamanho_empresa']

In [ ]:
df['remoto'].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [ ]:
traducao_experiencia = {
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
}

df['experiencia'] = df['experiencia'].replace(traducao_experiencia)
display(df['experiencia'].value_counts())

experiencia
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [ ]:
traducao_contrato = {
    'FT': 'Tempo Integral',
    'CT': 'Por Contrato',
    'PT': 'Meio Periodo',
    'FL': 'Freelancer'
}

df['contrato'] = df['contrato'].replace(traducao_contrato)
display(df['contrato'].value_counts())

contrato
Tempo Integral    132563
Por Contrato         394
Meio Periodo         376
Freelancer            16
Name: count, dtype: int64

In [ ]:
traducao_tamanho_empresa = {
    'M': 'Médio',
    'L': 'Grande',
    'S': 'Pequeno'
}

df['tamanho_empresa'] = df['tamanho_empresa'].replace(traducao_tamanho_empresa)
display(df['tamanho_empresa'].value_counts())

tamanho_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [ ]:
traducao_remoto = {
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Remoto'
}

df['remoto'] = df['remoto'].replace(traducao_remoto)
display(df['remoto'].value_counts())

remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [ ]:
df.head()

,adimissao,experiencia,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio

In [ ]:
# Exemplo de tradução para alguns dos cargos mais frequentes
traducao_cargo = {
    'Data Engineer': 'Engenheiro de Dados',
    'Data Scientist': 'Cientista de Dados',
    'Machine Learning Engineer': 'Engenheiro de Machine Learning',
    'Data Analyst': 'Analista de Dados',
    'Analytics Engineer': 'Engenheiro de Analytics',
    'Software Engineer': 'Engenheiro de Software',
    'Engineer': 'Engenheiro',
    'Data Architect': 'Arquiteto de Dados',
    'Data Modeler': 'Modelador de Dados',
    'Data Operations Analyst': 'Analista de Operações de Dados',
    'Manager': 'Gerente',
    'Analyst': 'Analista',
    'Research Scientist': 'Cientista de Pesquisa',
    'Business Analyst': 'Analista de Negócios',
    'Product Manager': 'Gerente de Produtos'
}

df['cargo'] = df['cargo'].replace(traducao_cargo)

# Exibindo os cargos mais frequentes após a tradução
display(df['cargo'].value_counts().head(10))

cargo
Cientista de Dados                17315
Engenheiro de Software            15007
Engenheiro de Dados               14868
Analista de Dados                 12381
Engenheiro                         9456
Engenheiro de Machine Learning     8205
Gerente                            6679
Analista                           4364
Cientista de Pesquisa              3202
Gerente de Produtos                2230
Name: count, dtype: int64

In [ ]:
df.head()

,adimissao,experiencia,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Médio

In [ ]:
df.describe(include='object')

,experiencia,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,389,26,102,3,95,3
top,Sênior,Tempo Integral,Cientista de Dados,USD,US,Presencial,US,Médio
freq,77241,132563,17315,126140,119579,105312,119641,129561

In [ ]:
salario_medio_por_experiencia = df.groupby('experiencia')['usd'].mean().reset_index()
salario_medio_por_experiencia.rename(columns={'usd': 'salario_medio'}, inplace=True)

df = df.merge(salario_medio_por_experiencia, on='experiencia', how='left')
display(df[['experiencia', 'usd', 'salario_medio']].head())

  experiencia     usd  salario_medio
0      Sênior  214000  172850.003845
1      Sênior  136000  172850.003845
2       Pleno  158800  143041.323489
3       Pleno  139200  143041.323489
4      Júnior   90000   99039.040264

Aula 02